body{
    background-color: white;
    width: auto;
}
header{
    background-color: darkcyan;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
}
.titulo img{
    width: 5em;
}
.titulo h1{
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
}
.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.enlaces-nav{
    color: whitesmoke;
    font-weight: 800;
    font-size: 1.2em;
    text-decoration: none;   
    padding: 1em;
    margin: 1em 1em 1.5em; 
}
.enlaces-nav:hover{
    background: lightblue;
}
footer {
    background-color: darkcyan;
    color: rgb(0, 0, 0);
    height: 5em;
    align-items: center;

}
.copyright{
    float: left;
    margin: 0.5em 2em;
    font-size: 1.2em;
}
.redes{
    float: right;
    display: flex;
    margin: 0.5em 2em;
    }
.redes ul{
    list-style-type: none;
}
.redes ul li{
    display: inline;
    margin: 0 0.5em;
}
.redes ul li a{
    text-decoration: none;
}
.redes ul li img{
    width: 2em;
}