body{
    background-color: darkblue;
}
header{
    background-color: darkcyan;
    color: bisque;
}
h1{
    text-align: center;
    font-size: large;
}
nav{
    text-align: center;
    position: relative;
    font-weight: 800;
    text-decoration: none;

}
.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
a{
    text-decoration: none;
    color: antiquewhite;
}