*{
    margin: 0;
}
body{
    background-color: rgb(141, 60, 60);
    width: auto;
}
header{
    background-color: rgb(1, 21, 72);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
}
.titulo img{
    width: 5em;
}
.titulo h1{
    text-align: center;
    font-size: 5em;
    color: rgb(245, 245, 245);
    font-family: 'Dancing Script', cursive;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.enlaces-nav{
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;   
    padding: 1em;
    margin: auto; 
    font-family: 'Ubuntu', sans-serif;
}
.enlaces-nav:hover{
    background: lightblue;
}
/*Fin header*/
.contenido{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1%;
}
/*Carrusel*/
section {
          box-sizing: border-box;
          margin: 1%;
          padding: 0;
      }
      .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: auto;
          width: 75%;
          background-color: rgb(141, 10, 10);
          border-radius: 5%; /*BORDER RADIUS*/ 

      }
      .container h1 {
        font-family: 'Lobster', cursive;
        font-size: 5vw;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 1%;
      }

      .content {
          position: relative;
      }

      .carousel-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 50;
          
      }
      .slideshow {
          height: 100%;
          overflow: hidden;
          position: relative;
      }
      .slideshow-wrapper {
          display: flex;
          width: 300%;
          height: 100%;
          position: relative;
          animation: slideshow 15s infinite;
      }
      .slide {
          width: 100%;
          height: 100%;
          border-radius: 5%; /*BORDER RADIUS*/
      }

      .slide-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5%; /*BORDER RADIUS*/
      }

      @keyframes slideshow {
        0% {
            left: 0%;
        }
        10% {
            left: 0%;
        }

        20% {
            left: -100%;
        }
        30% {
            left: -100%;
        }

        40% {
            left: -200%;
        }

        50%{
            left: -200%;
        }

        60% {
            left: -200%;
        }

        70% {
            left: -100%;
        }

        80% {
            left: -100%;
        }

        90%{
            left: 0%;
        }
        100% {
            left: 0%;
        }
    }

      .slide-btn {
          background-color: rgb(1, 21, 72);
          border-radius: 50%;
          border: .2rem solid rgb(1, 21, 72);
          width: 1.2rem;
          height: 1.2rem;
          outline: none;
          cursor: pointer;
          position: absolute;
          bottom: 3%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 70;
      }
      .slide-btn-1 {
          left: 45%;
      }

      .slide-btn-2 {
          left: 50%;
      }

      .slide-btn-3 {
          left: 55%;
      }

      .slide-btn-1:focus~.slideshow-wrapper {
          animation: none;
          left: 0;
      }

      .slide-btn-2:focus~.slideshow-wrapper {
          animation: none;
          left: -100%;
      }

      .slide-btn-3:focus~.slideshow-wrapper {
          animation: none;
          left: -200%;
      }

      .slide-btn:focus {
          background-color: rgb(141, 60, 60);
      }


/*Tabla*/
.tablaHorarios{
    width: 95%;
}

.horarios{
    border-collapse: collapse;
    table-layout: auto;
    font-size: 2.2vw;
    width: 100%;
    border: 5px solid rgb(141, 10, 10);
    margin: 2%;
    background-color: rgb(250, 250, 250, 25%);
}
.horarios caption{
    caption-side: top;
    font-family: 'Lobster', cursive;
    font-size: 5vw;
    color: rgb(0, 0, 0);
}
.horariosCabecera{
    background-color: rgb(141, 10, 10);
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: 2.5vw;
    border: 5px solid rgb(141, 10, 10);
}
td {
    text-align: center;
    border: 2px solid rgb(141, 10, 10);
}
.funciones:hover{
    color: rgb(245, 245, 245);
    background-color: rgb(141, 60, 60);
    cursor: default;
}

/*Footer*/
footer {
    background-color: rgb(1, 21, 72);
    color: rgb(250, 250, 250);
    height: 5em;
    align-items: center;
    font-family: "Ubuntu", sans-serif;

}
.copyright{
    float: left;
    margin: 1.5em 2em;
    font-size: 1.2em;
}
.redes{
    float: right;
    display: flex;
    margin: 1.5em 2em;
    font-size: 1em;
    }
.redes ul{
    list-style-type: none;
}
.redes ul li{
    display: inline;
    margin: 0 0.5em;
}
.redes ul li a i{
    text-decoration: none;
    color: rgb(250, 250, 250);

}
.redes ul li a i{
    font-size: 180%;
}