* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --colorBordo: rgb(141, 10, 10);
    --colorAzul: rgb(1, 21, 72);
    --colorRojo: rgb(141, 60, 60);
    --fuenteCuerpo: 'Ubuntu', sans-serif;
    --fuenteTitulo: 'Lobster', sans-serif;
}

body {
    background-color: var(--colorRojo);
}

/* HEADER */

header{
    background-color: rgb(1, 21, 72);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    
}
.titulo img{
    width: 5em;
}
.titulo h1{
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.enlaces-nav{
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;   
    padding: 1em;
    margin: auto; 
    font-family: 'Ubuntu', sans-serif;
}
.enlaces-nav:hover{
    background: lightblue;
}

/* FIN ELEMENTOS DEL HEADER*/

.titulo-candy {
    text-align: center;
    padding: 4%;
    font-family: var(--fuenteTitulo); /* LLAMAR A FUENTE GUARDADA EN ROOT */
    font-size: 5vw;
    
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 3% 0;
    border-width: 8px;
    border-color: var(--colorBordo); /* LLAMAR A COLOR GUARDADO EN ROOT */
    border-style: solid;
    padding: 4.5% 2.2%;
    background-image: url(/img/fondo_candy.jpg);
    
}

.fila img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-self: center;
    
}

.combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: var(--colorBordo);
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
    margin: 0 1%;
    background-color: var(--colorBordo);
}



.combo-imagen {
    position: relative;
    width: 100%;
}

.imagen-img {
    display: block;
    width: 100%;
}

.imagen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(141, 10, 10, 0.9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuenteCuerpo) ;
    opacity: 0;
    transition: opacity 0.25s;
}

.imagen-overlay > * {
    transform: translateY(-20px);
    transition: transform 0.25s;
}

.imagen-overlay:hover {
    opacity: 1;
}

.imagen-overlay:hover > * {
    transform: translateY(0);

}

.imagen-texto {
    font-size: 3vw;
}


.combo-precio, .combo-descripcion {
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    color: white;
    justify-content: center;
    align-content: center;
    
}

.combo-descripcion {
    font-size: 2vw; /* VW=VIEWPORT WIDTH - HACER EL TEXTO RESPONSIVE */
    font-family: var(--fuenteCuerpo);
}

.combo-precio {
    font-size: 2.5vw;
    font-family: var(--fuenteCuerpo);
}

.mensaje-final {
    font-size: 3.9vw;
    font-family: var(--fuenteCuerpo);
    padding: 5%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: var(--colorBordo);

}

.iconos-entrefila {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 5%;
    justify-content: space-around;
    font-size: 8vw;

    
}

.mensaje-final>p{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    padding: 2%;
    
}


.mensaje-final>#icono1 {
    justify-content: flex-start;
    
    padding: 2%;
    font-size: 8vw;
}
.mensaje-final>#icono2{
    justify-content: flex-end;
    
    padding: 2%;
    font-size: 8vw;
}





/* FOOTER */
/*Footer*/
footer {
    background-color: rgb(1, 21, 72);
    color: rgb(250, 250, 250);
    height: 5em;
    align-items: center;
    font-family: "Ubuntu", sans-serif;

}
.copyright{
    float: left;
    margin: 0.5em 2em;
    font-size: 1.2em;
}
.redes{
    float: right;
    display: flex;
    margin: 0.5em 2em;
    font-size: 1.5em;
    }
.redes ul{
    list-style-type: none;
}
.redes ul li{
    display: inline;
    margin: 0 0.5em;
}
.redes ul li a{
    text-decoration: none;
}
.redes ul li img{
    width: 2em;
}



/* REPONSIVE ? */


  

/*@media (max-width: 500px) {
    .iconos-entrefila>i {
        width: 50%;
      

    }


}*/

/*EJEMPLO DE MEDIA QUERY*/
/*@media screen and (max-width: 640px) {
    body {
    background: blue;
    } }
    @media screen and (min-width: 640px) and (max-width: 1280px) {body { background: red;
    } }
    @media screen and (min-width: 1280px) {
    body { background: green;
    } }*/






