* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --colorBordo: rgb(141, 10, 10);
    --colorAzul: rgb(1, 21, 72);
    --colorRojo: rgb(141, 60, 60);
    --fuenteCuerpo: 'Ubuntu', sans-serif;
    --fuenteTitulo: 'Lobster', sans-serif;
}


body {
    background-color: var(--colorRojo);
    
}


/* HEADER */
header{
    background-color: rgb(1, 21, 72);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    
}
.titulo img{
    width: 5em;
}
.titulo h1{
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.enlaces-nav{
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;   
    padding: 1em;
    margin: auto; 
    font-family: 'Ubuntu', sans-serif;
}
.enlaces-nav:hover{
    background: lightblue;
}
/* FIN ELEMENTOS DEL HEADER*/




/*.contacto{
    background-image: url(/img/cine.jfif);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}*/


.titulo-contactos { 
    color: #ffffff;
    font-family: var(--fuenteCuerpo);
    text-align: center;
    margin: 0;
    font-size: 2.5vw;
    margin-bottom: 20px;
    border: none;
}


/* cambios 18-10 */

.toda-la-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 3%;
    padding: 3%;
}

.datos {
    display: flex;
    flex-direction: column;
    background-color: var(--colorBordo);
    border-color: var(--colorBordo);
    border-radius: 5%; 
    border-width: 10%;
    width: 50%;
    height: 100%;
}

.datos p {
    font-family: var(--fuenteCuerpo);
    text-align: justify;
    color: #ffffff;
    font-size: 1.5vw;
    padding: 2%;
}

.datos-linea {
    display: flex;
    flex-direction: row;
}

.datos-linea i {
    display: flex;
    align-items: flex-start;
    align-self: center;
    color: #ffffff;
    font-size: 3vw;
    padding: 1%;
}

.datos-linea p {
    display: flex;
    align-items: flex-end;
}






/* HACER FORMULARIO RESPONSIVE */
.formulario {
    width: 45%;
    /*margin: auto;*/
    background: var(--colorBordo);
    padding: 10px 20px; /* HACER RESPONSIVE */
    /*box-sizing: border-box;*/
    /*margin-top: 20px;*/
    border-radius: 5%;
    
}

.maps iframe {
    border-radius: 8%;
    padding: 3%;
    width: 100%;
    height: 32.5vw;
}


/* fin cambios 18-10 */



input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: var(--fuenteCuerpo);
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    background: var(--colorAzul);
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color:#B06AB3;
    padding-top: 20px;
}



@media(max-width:480px) {
    form {
        width: 100%;
    }
}




/* FOOTER */

/*Footer*/
footer {
    background-color: rgb(1, 21, 72);
    color: rgb(250, 250, 250);
    height: 5em;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    /* hace que el footer este abajo de todo en esta pagina */
    position: absolute;
    width: 100%;
    bottom: 0;

}
.copyright{
    float: left;
    margin: 0.5em 2em;
    font-size: 1.2em;
}
.redes{
    float: right;
    display: flex;
    margin: 0.5em 2em;
    }
.redes ul{
    list-style-type: none;
}
.redes ul li{
    display: inline;
    margin: 0 0.5em;
}
.redes ul li a{
    text-decoration: none;
}
.redes ul li img{
    width: 2em;
}
/*FIN FOOTER */
